cffi==2.0.0
colorzero==2.0
gpiozero==2.0.1
hidapi-usb==0.3.2
lgpio==0.2.2.0
pycparser==2.23
pydualsense==0.7.5
pyserial==3.5
PyTmcStepper==0.7.6
rpi-lgpio==0.6
RPi.GPIO==0.7.1
Flask~=3.1.2
Flask-SocketIO~=5.5.1